In [1]:
import pandas as pd

In [2]:
df_comtrade = pd.read_csv("comtrade_2011.csv")

In [3]:
df_comtrade

,Unnamed: 0,year,period,region_code,region_name,partner_code,partner_name,comodity_code,comodity_name,NetWeight,TradeValue
0,1,2011,201101,608,Philippines,156,China,2604,Nickel ores and concentrates,289557872.0,9642000
1,2,2011,201101,608,Philippines,392,Japan,2604,Nickel ores and concentrates,79950000.0,4348250
2,5,2011,201102,608,Philippines,156,China,2604,Nickel ores and concentrates,277673000.0,5315000
3,6,2011,201102,608,Philippines,392,Japan,2604,Nickel ores and concentrates,7718.0,63730
4,7,2011,201102,608,Philippines,392,Japan,2604,Nickel ores and concentrates,78000000.0,5305679
...,...,...,...,...,...,...,...,...,...,...,...
1362,2043,2016,201603,76,Brazil,156,China,2604,Nickel ores and concentrates,8959040.0,5280360
1363,2046,2016,201604,76,Brazil,156,China,2604,Nickel ores and concentrates,9325780.0,6080059
1364,2047,2016,201604,76,Brazil,842,United States of America,2604,Nickel ores and concentrates,NaN,33
1365,2049,2016,201605,76,Brazil,156,China,2604,Nickel ores and concentrates,7256760.0,5985654
1366,2051,2016,201612,76,Brazil,392,Japan,2604,Nickel ores and concentrates,15865.0,49538

In [4]:
df_comtrade = df_comtrade.drop(["Unnamed: 0"], axis = 1)

In [5]:
df_comtrade

,year,period,region_code,region_name,partner_code,partner_name,comodity_code,comodity_name,NetWeight,TradeValue
0,2011,201101,608,Philippines,156,China,2604,Nickel ores and concentrates,289557872.0,9642000
1,2011,201101,608,Philippines,392,Japan,2604,Nickel ores and concentrates,79950000.0,4348250
2,2011,201102,608,Philippines,156,China,2604,Nickel ores and concentrates,277673000.0,5315000
3,2011,201102,608,Philippines,392,Japan,2604,Nickel ores and concentrates,7718.0,63730
4,2011,201102,608,Philippines,392,Japan,2604,Nickel ores and concentrates,78000000.0,5305679
...,...,...,...,...,...,...,...,...,...,...
1362,2016,201603,76,Brazil,156,China,2604,Nickel ores and concentrates,8959040.0,5280360
1363,2016,201604,76,Brazil,156,China,2604,Nickel ores and concentrates,9325780.0,6080059
1364,2016,201604,76,Brazil,842,United States of America,2604,Nickel ores and concentrates,NaN,33
1365,2016,201605,76,Brazil,156,China,2604,Nickel ores and concentrates,7256760.0,5985654
1366,2016,201612,76,Brazil,392,Japan,2604,Nickel ores and concentrates,15865.0,49538

In [6]:
n = len(df_comtrade["period"])

In [7]:
for i in range(n) :
    if df_comtrade["period"][i] == 201101 :
        df_comtrade["period"][i] = "2011.01"
    elif df_comtrade["period"][i] == 201102 :
        df_comtrade["period"][i] = "2011.02"
    elif df_comtrade["period"][i] == 201103 :
        df_comtrade["period"][i] = "2011.03"
    elif df_comtrade["period"][i] == 201104 :
        df_comtrade["period"][i] = "2011.04"
    elif df_comtrade["period"][i] == 201105 :
        df_comtrade["period"][i] = "2011.05"
    elif df_comtrade["period"][i] == 201106 :
        df_comtrade["period"][i] = "2011.06"
    elif df_comtrade["period"][i] == 201107 :
        df_comtrade["period"][i] = "2011.07"
    elif df_comtrade["period"][i] == 201108 :
        df_comtrade["period"][i] = "2011.08"
    elif df_comtrade["period"][i] == 201109 :
        df_comtrade["period"][i] = "2011.09"
    elif df_comtrade["period"][i] == 201110 :
        df_comtrade["period"][i] = "2011.10"
    elif df_comtrade["period"][i] == 201111 :
        df_comtrade["period"][i] = "2011.11"
    elif df_comtrade["period"][i] == 201112 :
        df_comtrade["period"][i] = "2011.12"
    if df_comtrade["period"][i] == 201201 :
        df_comtrade["period"][i] = "2012.01"
    elif df_comtrade["period"][i] == 201202 :
        df_comtrade["period"][i] = "2012.02"
    elif df_comtrade["period"][i] == 201203 :
        df_comtrade["period"][i] = "2012.03"
    elif df_comtrade["period"][i] == 201204 :
        df_comtrade["period"][i] = "2012.04"
    elif df_comtrade["period"][i] == 201205 :
        df_comtrade["period"][i] = "2012.05"
    elif df_comtrade["period"][i] == 201206 :
        df_comtrade["period"][i] = "2012.06"
    elif df_comtrade["period"][i] == 201207 :
        df_comtrade["period"][i] = "2012.07"
    elif df_comtrade["period"][i] == 201208 :
        df_comtrade["period"][i] = "2012.08"
    elif df_comtrade["period"][i] == 201209 :
        df_comtrade["period"][i] = "2012.09"
    elif df_comtrade["period"][i] == 201210 :
        df_comtrade["period"][i] = "2012.10"
    elif df_comtrade["period"][i] == 201211 :
        df_comtrade["period"][i] = "2012.11"
    elif df_comtrade["period"][i] == 201212 :
        df_comtrade["period"][i] = "2012.12"
    if df_comtrade["period"][i] == 201301 :
        df_comtrade["period"][i] = "2013.01"
    elif df_comtrade["period"][i] == 201302 :
        df_comtrade["period"][i] = "2013.02"
    elif df_comtrade["period"][i] == 201303 :
        df_comtrade["period"][i] = "2013.03"
    elif df_comtrade["period"][i] == 201304 :
        df_comtrade["period"][i] = "2013.04"
    elif df_comtrade["period"][i] == 201305 :
        df_comtrade["period"][i] = "2013.05"
    elif df_comtrade["period"][i] == 201306 :
        df_comtrade["period"][i] = "2013.06"
    elif df_comtrade["period"][i] == 201307 :
        df_comtrade["period"][i] = "2013.07"
    elif df_comtrade["period"][i] == 201308 :
        df_comtrade["period"][i] = "2013.08"
    elif df_comtrade["period"][i] == 201309 :
        df_comtrade["period"][i] = "2013.09"
    elif df_comtrade["period"][i] == 201310 :
        df_comtrade["period"][i] = "2013.10"
    elif df_comtrade["period"][i] == 201311 :
        df_comtrade["period"][i] = "2013.11"
    elif df_comtrade["period"][i] == 201312 :
        df_comtrade["period"][i] = "2013.12"
    elif df_comtrade["period"][i] == 201401 :
        df_comtrade["period"][i] = "2014.01"
    elif df_comtrade["period"][i] == 201402 :
        df_comtrade["period"][i] = "2014.02"
    elif df_comtrade["period"][i] == 201403 :
        df_comtrade["period"][i] = "2014.03"
    elif df_comtrade["period"][i] == 201404 :
        df_comtrade["period"][i] = "2014.04"
    elif df_comtrade["period"][i] == 201405 :
        df_comtrade["period"][i] = "2014.05"
    elif df_comtrade["period"][i] == 201406 :
        df_comtrade["period"][i] = "2014.06"
    elif df_comtrade["period"][i] == 201407 :
        df_comtrade["period"][i] = "2014.07"
    elif df_comtrade["period"][i] == 201408 :
        df_comtrade["period"][i] = "2014.08"
    elif df_comtrade["period"][i] == 201409 :
        df_comtrade["period"][i] = "2014.09"
    elif df_comtrade["period"][i] == 201410 :
        df_comtrade["period"][i] = "2014.10"
    elif df_comtrade["period"][i] == 201411 :
        df_comtrade["period"][i] = "2014.11"
    elif df_comtrade["period"][i] == 201412 :
        df_comtrade["period"][i] = "2014.12"
    elif df_comtrade["period"][i] == 201501 :
        df_comtrade["period"][i] = "2015.01"
    elif df_comtrade["period"][i] == 201502 :
        df_comtrade["period"][i] = "2015.02"
    elif df_comtrade["period"][i] == 201503 :
        df_comtrade["period"][i] = "2015.03"
    elif df_comtrade["period"][i] == 201504 :
        df_comtrade["period"][i] = "2015.04"
    elif df_comtrade["period"][i] == 201505 :
        df_comtrade["period"][i] = "2015.05"
    elif df_comtrade["period"][i] == 201506 :
        df_comtrade["period"][i] = "2015.06"
    elif df_comtrade["period"][i] == 201507 :
        df_comtrade["period"][i] = "2015.07"
    elif df_comtrade["period"][i] == 201508 :
        df_comtrade["period"][i] = "2015.08"
    elif df_comtrade["period"][i] == 201509 :
        df_comtrade["period"][i] = "2015.09"
    elif df_comtrade["period"][i] == 201510 :
        df_comtrade["period"][i] = "2015.10"
    elif df_comtrade["period"][i] == 201511 :
        df_comtrade["period"][i] = "2015.11"
    elif df_comtrade["period"][i] == 201512 :
        df_comtrade["period"][i] = "2015.12"
    elif df_comtrade["period"][i] == 201601 :
        df_comtrade["period"][i] = "2016.01"
    elif df_comtrade["period"][i] == 201602 :
        df_comtrade["period"][i] = "2016.02"
    elif df_comtrade["period"][i] == 201603 :
        df_comtrade["period"][i] = "2016.03"
    elif df_comtrade["period"][i] == 201604 :
        df_comtrade["period"][i] = "2016.04"
    elif df_comtrade["period"][i] == 201605 :
        df_comtrade["period"][i] = "2016.05"
    elif df_comtrade["period"][i] == 201606 :
        df_comtrade["period"][i] = "2016.06"
    elif df_comtrade["period"][i] == 201607 :
        df_comtrade["period"][i] = "2016.07"
    elif df_comtrade["period"][i] == 201608 :
        df_comtrade["period"][i] = "2016.08"
    elif df_comtrade["period"][i] == 201609 :
        df_comtrade["period"][i] = "2016.09"
    elif df_comtrade["period"][i] == 201610 :
        df_comtrade["period"][i] = "2016.10"
    elif df_comtrade["period"][i] == 201611 :
        df_comtrade["period"][i] = "2016.11"
    elif df_comtrade["period"][i] == 201612 :
        df_comtrade["period"][i] = "2016.12"

/var/folders/7n/qbcvswc55hzd4lnphhs0grb40000gn/T/ipykernel_1416/3528668818.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_comtrade["period"][i] = "2011.01.01"
/Users/anjaeu/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [38]:
for i in range(n) :
    if df_comtrade["period"][i] == 201701 :
        df_comtrade["period"][i] = "2017.01"
    elif df_comtrade["period"][i] == 201702 :
        df_comtrade["period"][i] = "2017.02"
    elif df_comtrade["period"][i] == 201703 :
        df_comtrade["period"][i] = "2017.03"
    elif df_comtrade["period"][i] == 201704 :
        df_comtrade["period"][i] = "2017.04"
    elif df_comtrade["period"][i] == 201705 :
        df_comtrade["period"][i] = "2017.05"
    elif df_comtrade["period"][i] == 201706 :
        df_comtrade["period"][i] = "2017.06"
    elif df_comtrade["period"][i] == 201707 :
        df_comtrade["period"][i] = "2017.07"
    elif df_comtrade["period"][i] == 201708 :
        df_comtrade["period"][i] = "2017.08"
    elif df_comtrade["period"][i] == 201709 :
        df_comtrade["period"][i] = "2017.09"
    elif df_comtrade["period"][i] == 201710 :
        df_comtrade["period"][i] = "2017.10"
    elif df_comtrade["period"][i] == 201711 :
        df_comtrade["period"][i] = "2017.11"
    elif df_comtrade["period"][i] == 201712 :
        df_comtrade["period"][i] = "2017.12"
    if df_comtrade["period"][i] == 201801 :
        df_comtrade["period"][i] = "2018.01"
    elif df_comtrade["period"][i] == 201802 :
        df_comtrade["period"][i] = "2018.02"
    elif df_comtrade["period"][i] == 201803 :
        df_comtrade["period"][i] = "2018.03"
    elif df_comtrade["period"][i] == 201804 :
        df_comtrade["period"][i] = "2018.04"
    elif df_comtrade["period"][i] == 201805 :
        df_comtrade["period"][i] = "2018.05"
    elif df_comtrade["period"][i] == 201806 :
        df_comtrade["period"][i] = "2018.06"
    elif df_comtrade["period"][i] == 201807 :
        df_comtrade["period"][i] = "2018.07"
    elif df_comtrade["period"][i] == 201808 :
        df_comtrade["period"][i] = "2018.08"
    elif df_comtrade["period"][i] == 201809 :
        df_comtrade["period"][i] = "2018.09"
    elif df_comtrade["period"][i] == 201810 :
        df_comtrade["period"][i] = "2018.10"
    elif df_comtrade["period"][i] == 201811 :
        df_comtrade["period"][i] = "2018.11"
    elif df_comtrade["period"][i] == 201812 :
        df_comtrade["period"][i] = "2018.12"
    if df_comtrade["period"][i] == 201901 :
        df_comtrade["period"][i] = "2019.01"
    elif df_comtrade["period"][i] == 201902 :
        df_comtrade["period"][i] = "2019.02"
    elif df_comtrade["period"][i] == 201903 :
        df_comtrade["period"][i] = "2019.03"
    elif df_comtrade["period"][i] == 201904 :
        df_comtrade["period"][i] = "2019.04"
    elif df_comtrade["period"][i] == 201905 :
        df_comtrade["period"][i] = "2019.05"
    elif df_comtrade["period"][i] == 201906 :
        df_comtrade["period"][i] = "2019.06"
    elif df_comtrade["period"][i] == 201907 :
        df_comtrade["period"][i] = "2019.07"
    elif df_comtrade["period"][i] == 201908 :
        df_comtrade["period"][i] = "2019.08"
    elif df_comtrade["period"][i] == 201909 :
        df_comtrade["period"][i] = "2019.09"
    elif df_comtrade["period"][i] == 201910 :
        df_comtrade["period"][i] = "2019.10"
    elif df_comtrade["period"][i] == 201911 :
        df_comtrade["period"][i] = "2019.11"
    elif df_comtrade["period"][i] == 201912 :
        df_comtrade["period"][i] = "2019.12"
    elif df_comtrade["period"][i] == 202001 :
        df_comtrade["period"][i] = "2020.01"
    elif df_comtrade["period"][i] == 202002 :
        df_comtrade["period"][i] = "2020.02"
    elif df_comtrade["period"][i] == 202003 :
        df_comtrade["period"][i] = "2020.03"
    elif df_comtrade["period"][i] == 202004 :
        df_comtrade["period"][i] = "2020.04"
    elif df_comtrade["period"][i] == 202005 :
        df_comtrade["period"][i] = "2020.05"
    elif df_comtrade["period"][i] == 202006 :
        df_comtrade["period"][i] = "2020.06"
    elif df_comtrade["period"][i] == 202007 :
        df_comtrade["period"][i] = "2020.07"
    elif df_comtrade["period"][i] == 202008 :
        df_comtrade["period"][i] = "2020.08"
    elif df_comtrade["period"][i] == 202009 :
        df_comtrade["period"][i] = "2020.09"
    elif df_comtrade["period"][i] == 202010 :
        df_comtrade["period"][i] = "2020.10"
    elif df_comtrade["period"][i] == 202011 :
        df_comtrade["period"][i] = "2020.11"
    elif df_comtrade["period"][i] == 202012 :
        df_comtrade["period"][i] = "2020.12"
    elif df_comtrade["period"][i] == 202101 :
        df_comtrade["period"][i] = "2021.01"
    elif df_comtrade["period"][i] == 202102 :
        df_comtrade["period"][i] = "2021.02"
    elif df_comtrade["period"][i] == 202103 :
        df_comtrade["period"][i] = "2021.03"
    elif df_comtrade["period"][i] == 202104 :
        df_comtrade["period"][i] = "2021.04"
    elif df_comtrade["period"][i] == 202105 :
        df_comtrade["period"][i] = "2021.05"
    elif df_comtrade["period"][i] == 202106 :
        df_comtrade["period"][i] = "2021.06"
    elif df_comtrade["period"][i] == 202107 :
        df_comtrade["period"][i] = "2021.07"
    elif df_comtrade["period"][i] == 202108 :
        df_comtrade["period"][i] = "2021.08"
    elif df_comtrade["period"][i] == 202109 :
        df_comtrade["period"][i] = "2021.09"
    elif df_comtrade["period"][i] == 202110 :
        df_comtrade["period"][i] = "2021.10"
    elif df_comtrade["period"][i] == 202111 :
        df_comtrade["period"][i] = "2021.11"
    elif df_comtrade["period"][i] == 202112 :
        df_comtrade["period"][i] = "2021.12"
    elif df_comtrade["period"][i] == 202201 :
        df_comtrade["period"][i] = "2022.01"
    elif df_comtrade["period"][i] == 202202 :
        df_comtrade["period"][i] = "2022.02"
    elif df_comtrade["period"][i] == 202203 :
        df_comtrade["period"][i] = "2022.03"
    elif df_comtrade["period"][i] == 202204 :
        df_comtrade["period"][i] = "2022.04"
    else df_comtrade["period"][i] == 202205 :
        df_comtrade["period"][i] = "2022.05"

/var/folders/7n/qbcvswc55hzd4lnphhs0grb40000gn/T/ipykernel_2767/2566768955.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_comtrade["period"][i] = "2017.01.01"

In [8]:
df_comtrade

,year,period,region_code,region_name,partner_code,partner_name,comodity_code,comodity_name,NetWeight,TradeValue
0,2011,2011.01.01,608,Philippines,156,China,2604,Nickel ores and concentrates,289557872.0,9642000
1,2011,2011.01.01,608,Philippines,392,Japan,2604,Nickel ores and concentrates,79950000.0,4348250
2,2011,2011.02.01,608,Philippines,156,China,2604,Nickel ores and concentrates,277673000.0,5315000
3,2011,2011.02.01,608,Philippines,392,Japan,2604,Nickel ores and concentrates,7718.0,63730
4,2011,2011.02.01,608,Philippines,392,Japan,2604,Nickel ores and concentrates,78000000.0,5305679
...,...,...,...,...,...,...,...,...,...,...
1362,2016,2016.03.01,76,Brazil,156,China,2604,Nickel ores and concentrates,8959040.0,5280360
1363,2016,2016.04.01,76,Brazil,156,China,2604,Nickel ores and concentrates,9325780.0,6080059
1364,2016,2016.04.01,76,Brazil,842,United States of America,2604,Nickel ores and concentrates,NaN,33
1365,2016,2016.05.01,76,Brazil,156,China,2604,Nickel ores and concentrates,7256760.0,5985654
1366,2016,2016.12.01,76,Brazil,392,Japan,2604,Nickel ores and concentrates,15865.0,49538

In [20]:
df_comtrade.to_excel("comtrade_V2.2011.xlsx")